# have to add custom 40x/50x error pages
server {
    server_name             www.{{ server.server_name }};
    return                  301 $scheme://{{ server.server_name }}$request_uri;
}

server {
    listen                  80;
    server_name             {{ server.server_name }};
    client_max_body_size    500M;
    index                   index.php index.html index.htm;
    root                    {{ server.root_dir }};

    location / {

        # Hide ALL hidden files
        location ~* /\. {
            deny  all;
        }

        # Directly deliver, good.
        location ~* ^.+\.(ogg|ogv|svgz?|eot|otf|woff|mp4|ttf|rss|atom|jpe?g|gif|png|ico|zip|t?gz|rar|bz2|doc|xls|exe|ppt|tar|midi?|wav|bmp|rtf)$ {
            access_log off;
            log_not_found off;
            expires max;
        }

        # Process PHP files, try_files protects us.
        location ~* \.php$ {
            # You only need this if you want to process requests like:
            # /index.php/foo/bar
            # Which is dangerous!
            fastcgi_split_path_info ^(.+\.php)(/.+)$;

            include          fastcgi_params;
            fastcgi_index    index.php;
            fastcgi_param    SCRIPT_FILENAME $document_root$fastcgi_script_name;
            fastcgi_param    SCRIPT_NAME $fastcgi_script_name;
            fastcgi_pass     unix:/var/run/php5-fpm.sock;
            try_files        $uri =404;
        }

        try_files $uri @file-missing;
    }

    location @file-missing {
        rewrite ^(.*)$ /index.php?name=$1 last;
    }
}