# have to add custom 40x/50x error pages
server {
  server_name www.{{ server.server_name }};
  return 301 $scheme://{{ server.server_name }}$request_uri;
}
server {
    listen 80;

    server_name {{ server.server_name }};
    root        {{ server.root_dir }};

    error_log   {{ server.custom_log_path ~ '/' ~ server.custom_error_log }};
    access_log  {{ server.custom_log_path ~ '/' ~ server.custom_access_log }};

    # Hide ALL hidden files
    location ~* /\. {
        deny  all;
    }

    # Directly deliver, good.
    location ~* ^.+\.(ogg|ogv|svgz?|eot|otf|woff|mp4|ttf|rss|atom|jpe?g|gif|png|ico|zip|t?gz|rar|bz2|doc|xls|exe|ppt|tar|midi?|wav|bmp|rtf)$ {
        access_log off;
        log_not_found off;
        expires max;
    }

    rewrite ^/app\.php/?(.*)$ /$1 permanent;

    location / {
        index app.php;
        try_files $uri @rewriteapp;
    }

    location @rewriteapp {
        rewrite ^(.*)$ /app.php/$1 last;
    }

    location ~ ^/(app|app_dev|config)\.php(/|$) {
        #try_files $uri =404;
        fastcgi_pass            unix:/var/run/php5-fpm.sock;
        fastcgi_keep_conn on;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include                 fastcgi_params;
        fastcgi_param           SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param           HTTPS off;
    }
}