[XDebug]
zend_extension="/usr/lib/php5/20121212/xdebug.so"

xdebug.remote_enable={{ php.xdebug.remote_enable }}
xdebug.remote_host={{ php.xdebug.remote_host }}
xdebug.remote_port={{ php.xdebug.remote_port }}
xdebug.remote_handler=dbgp
xdebug.remote_log={{ php.xdebug.remote_log }}
xdebug.remote_autostart={{ php.xdebug.remote_autostart }}

xdebug.idekey="{{ php.xdebug.idekey }}"

xdebug.max_nesting_level={{ php.xdebug.max_nesting_level }}